@import "tailwindcss";

@theme {
  --color-bg: #0f172a;
  --color-accent: #d4af37;
  --color-surface: #1e293b;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

body {
  @apply bg-[var(--color-bg)] text-white min-h-screen;
}
